.ic-app-header__main-navigation{
color:white !important;
background-color:black;
}
.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link{
background: #333;
}
#wrapper{
opacity:0;
}
#application{
background-color: #222
}