<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./popup.css">
</head>
<body class="popup-body">
    <header class="popup-header">
        <h1>LMS HELPER</h1>
    </header>
    <hr />
    <section class="popup-section">
        <p>
            LearningX의 출석 현황을 보기 쉽게 바꿔주는 헬퍼입니다. 앞으로 많은 기능들이 추가될 예정입니다.
        </p>
    </section>
    <hr />
    <footer class="popup-footer">
        <h2>Made By Rn</h2>
    </footer>
</body>
</html>